---
layout: default
---
{% assign brand = site.data.brands[page.brand] %}

<div class="listing">
  <div class="listing__header">
    <h1>{{ brand.name }}</h1>
    <hr class="rule">
  </div>

  <ul class="listing__items">
    {% for h in brand.horizons %}
    {% assign filtered = site.posts | where: "brand", page.brand | where: "horizon", h.key %}
    {% for post in filtered limit: 1 %}
    <li class="listing__item">
      {% include article-card.html post=post %}
    </li>
    {% endfor %}
    {% endfor %}
  </ul>
</div>
